*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: red;
}

.testimonials-block {
    display: grid;
    grid-template-areas: "daniel daniel jonathan kira"
                         "jeanette patrick patrick kira";
    gap: 30px;
    margin: 150px;
    height: 100vh;
}

.testimonial-item {
    padding: 20px;
    border-radius: 10px;
}

.daniel {
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 70px top;
    position: relative;
}

.jonathan {
    grid-area: jonathan;
    background-color: hsl(217, 19%, 35%);
}

.kira {
    grid-area: kira;
    background-color: hsl(0, 0%, 100%);
}

.jeanette {
    grid-area: jeanette;
    background-color: hsl(0, 0%, 100%);
}

.patrick {
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
}

.image-and-name {
    display: flex;
}

.name-and-badge {
    margin-left: 30px;
}

.testimonial-img {
    border-radius: 50%;
    align-self: center;
}

.name {}

.verified {}

.main-text {
    font-size: 1.5em;
    z-index: 2;
}

.secondary-text {}